@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,500&display=swap');

body {
  background-color: #121212;
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.logo {
  width: 5%;
}

#hi_zaffere {
  font-size: 450%;
}

#hi_zaffere,
.light-text {
  color: aliceblue;
  font-weight: 500;
}

.dark-card,
#nav,
#second-project,
#third-project,
#first-project-card-li {
  background: #232323;
}

.dark-card-btn {
  color: aliceblue;
  background: #192734;
  border: 1px solid aliceblue;
}
.dark-card-btn:hover {
  color: #000;
  background: #e6e6e6;
}

@media screen and (max-width: 600px) {
  #hi_zaffere {
    font-size: 250%;
  }
}
